# Set Content-Security-Policy
Header set Content-Security-Policy "script-src 'nonce-1eqxBYl1T9X0eyfnyc3YwQ=='"
# Set Permissions-Policy
Header set Permissions-Policy "geolocation=(self), microphone=()"